<div class="fixed inset-0" data-controller="deck" data-id="<%= @deck.id %>" data-url="<%= url_for @deck %>">
  <% if @deck.status_is_completed? %>
    <%= render Decks::DeckSummary.new(@deck) %>
  <% else %>
    <%= render Decks::DeckCard.new(@deck.next_deck_card) %>
  <% end %>
</div>
