<section class="max-w-xl mx-auto">
  <h1>
    Start Your Daily Practice
  </h1>
  <%= render Forms::Form.new(
    model: @deck,
    cancel_href: lessons_path,
    fields: [
      { type: :select, name: :difficulty, options: [["Quick", "quick"], ["Medium", "medium"], ["Long", "long"], ["Marathon", "marathon"]] },
      { type: :select, name: :duration, options: [["Easy", "easy"], ["Normal", "normal"], ["Hard", "hard"]] },
      { type: :hidden, name: :journey_id, value: @deck.journey_id },
    ]
  ) %>
</section>
