<% content_for :title, "Start Your Daily Practice" %>
<section class="max-w-xl mx-auto">
  <h1>
    Start Your Daily Practice
  </h1>
  <%= render Forms::Form.new(
    model: @deck,
    cancel_href: lessons_path,
    fields: [
      { type: :select, name: :step_id, options: @step_options, prompt: "All Lessons" },
      { type: :select, name: :difficulty, options: @difficulty_options, prompt: "Mixed" },
      { type: :hidden, name: :journey_id, value: @deck.journey_id },
    ]
  ) %>
</section>
