<turbo-frame id="<%= dom_id(@phrase_list) %>_new_phrase_frame">
  <div class="hidden md:flex justify-end py-2">
    <%= render(UI::Atoms::LinkButton.new(
      label: "Add Phrase",
      href: new_phrase_path(exercise_id: @phrase_list.id),
      data: { turbo_frame: "#{dom_id(@phrase_list)}_new_phrase_frame" },
      color: :gray,
      size: :sm
    )) %>
  </div>
</turbo-frame>
