<div class="border border-solid border-gray-100 dark:border-gray-600 rounded-lg overflow-clip">
  <turbo-frame
    id="<%= dom_id(@phrase_list) %>_list_frame"
    data-controller="reorderable"
    data-reorderable-url="<%= phrase_path(':id') %>"
  >
    <%= render(Phrases::PhraseListing.with_collection(@phrase_list.phrases.ordered)) %>
  </turbo-frame>
</div>

<%= render Exercises::PhraseLists::AddPhraseButtons.new(phrase_list: @phrase_list) %>
