<section id="<%= dom_id exercise %>">
  <% if exercise.type == "WordlistExercise" %>
    <%= render "wordlist_exercises/wordlist_exercise", wordlist_exercise: exercise %>
  <% else %>
    <p class="my-5">
      GENERIC EXERCISE DETECTED!!
    </p>
  <% end %>
</div>
