<h1>
  Edit Blurb
</h1>
<%= render Forms::Form.new(
  model: @blurb,
  fields: [
    { type: :text, name: :title },
    { type: :rich_text, name: :content },
    { type: :hidden, name: :lesson_id, value: @blurb.lesson_id },
  ],
  cancel_href: :back,
  delete_href: @blurb.becomes(Exercise),
) %>
