- content_for :title, "Start Your Daily Practice"

section class="max-w-xl mx-auto"
  h1
    | Start Your Daily Practice

  = render Forms::Form.new(\
    model: @deck,
    url: [@deck.journey, @deck],
    cancel_href: @deck.journey.course,
    fields: [\
      { type: :select, name: :step_id, options: @step_options, prompt: "All Lessons" },
      { type: :select, name: :difficulty, options: @difficulty_options, prompt: "Mixed" },
      { type: :hidden, name: :journey_id, value: @deck.journey_id },
    ],
  )
