<turbo-frame
  id="<%= dom_id(@translation_card.lesson) %>_new_card_frame"
>
  <div class="bg-gray-100 rounded-lg mb-6 p-4">
    <h2>
      Add New Practice Card
    </h2>
    <%= render Cards::Translations::TranslationCardForm.new(translation_card: @translation_card) %>
  </div>
</turbo-frame>
