<turbo-frame
  id="<%= dom_id(@translation_card.lesson) %>_new_card_frame"
>
  <div class="bg-white dark:bg-gray-700 rounded-lg shadow-md mb-6 p-4">
    <h2>
      Add New Practice Card
    </h2>
    <%= render Forms::Form.new(
      model: @translation_card,
      cancel_href: @translation_card.lesson,
      fields: [
        { type: :text, name: :front },
        { type: :text, name: :back },
        { type: :hidden, name: :lesson_id, value: @translation_card.lesson_id },
      ]
    ) %>
  </div>
</turbo-frame>
