<turbo-frame
  id="<%= dom_id(@translation_card) %>"
  data-model="card"
  data-id="<%= @translation_card.id %>"
>
  <div class="p-4 border-b border-b-solid border-b-gray-100">
    <%= render Forms::InlineForm.new(
      model: @translation_card,
      direction: :col,
      cancel_href: @translation_card.lesson,
      fields: [
        { type: :text, name: :front },
        { type: :text, name: :back },
      ],
    ) %>
  </div>
</turbo-frame>