<turbo-frame
  id="<%= dom_id(@translation_card.lesson) %>_new_card_frame"
>
  <div class="p-6 bg-gray-50 dark:bg-gray-600 border border-solid border-gray-100 dark:border-gray-600 rounded-lg">
    <h3>
      Add New Practice Card
    </h3>
    <%= render Forms::Form.new(
      model: @translation_card,
      cancel_href: @translation_card.lesson,
      fields: [
        { type: :text, name: :front },
        { type: :text, name: :back },
        { type: :hidden, name: :lesson_id, value: @translation_card.lesson_id },
      ],
      autofocus: false
    ) %>
  </div>
</turbo-frame>
