<turbo-frame
  id="<%= dom_id(@translation_card) %>"
  data-model="card"
  data-id="<%= @translation_card.id %>"
>
  <div class="p-4 border-b border-b-solid border-b-gray-100">
    <%= render Cards::Translations::TranslationCardForm.new(translation_card: @translation_card) %>
  </div>
</turbo-frame>