<section class="max-w-xl mx-auto">
  <h1>
    Add a New Lesson
  </h1>
  <%= render Forms::Form.new(
    model: @lesson,
    cancel_href: :back,
    fields: [{ name: :title, type: :text }]
  ) %>
</section>
