<%= turbo_frame_tag "#{dom_id(wordlist_exercise)}_new_exercise_word_frame" do %>
  <div class="py-2 px-3">
    <%= render(LinkButton.new(
      label: "Add Word",
      href: new_exercise_word_path(exercise_id: wordlist_exercise.id),
      data: { turbo_frame: "#{dom_id(wordlist_exercise)}_new_exercise_word_frame" },
      size: :sm
    )) %>
  </div>
<% end %>
