<div class="flex w-full font-semibold bg-gray-50">
  <div class="w-36 py-2 px-3">
    English
  </div>
  <div class="w-36 py-2 px-3">
    Indonesian
  </div>
  <div class="">
  </div>
</div>

<%= turbo_frame_tag "#{dom_id(wordlist_exercise)}_list_frame" do %>
  <%= render wordlist_exercise.words %>
<% end %>

<%= render "wordlist_exercises/add_word_buttons", wordlist_exercise: wordlist_exercise %>
