<%= turbo_frame_tag "new_exercise_frame" do %>
  <div class="mx-auto w-full">
    <h2>
      Add New Wordlist Exercise
    </h2>
    <%= render "form", wordlist_exercise: @wordlist_exercise %>
  </div>
<% end %>
