<turbo-frame id="<%= dom_id(@word_list) %>_new_word_frame">
  <div class="hidden md:flex justify-end py-1 px-3">
    <%= render(LinkButton.new(
      label: "Add Word",
      href: new_word_path(exercise_id: @word_list.id),
      data: { turbo_frame: "#{dom_id(@word_list)}_new_word_frame" },
      size: :sm
    )) %>
  </div>
</turbo-frame>
